<h1>HELLO THIS IS THE PURCHASE MANAGER</h1>

<mat-card>
  <mat-card-header>
    <mat-card-title>NW TITEL</mat-card-title>
    
  </mat-card-header>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius illum maiores minima. Aliquam eum eveniet in iste
      mollitia porro quia sapiente. Cupiditate dolor doloribus illo inventore ipsam labore mollitia pariatur.</p>
  </mat-card-content>
  <mat-card-footer>
    <p>HERE IS THE FOOTER</p>
  </mat-card-footer>
  <mat-card-actions>
    <button>click me</button>
  </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>
