@use '@angular/material' as mat;
@use './theming' as theming;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
}


@include mat.core();

$my-primary: mat.m2-define-palette(mat.$m2-blue-gray-palette, 900);
$my-accent: mat.m2-define-palette(mat.$m2-orange-palette, 500);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-typography: mat.m2-define-typography-config(
  $font-family: 'Open Sans, sans-serif',
  $headline-1: (
    font-size: 112px,
    line-height: 112px,
    font-weight: 300
  ),
  $headline-2: (
    font-size: 56px,
    line-height: 56px,
    font-weight: 300
  ),
  $headline-3: (
    font-size: 45px,
    line-height: 48px,
    font-weight: 400
  ),
  $headline-4: (
    font-size: 34px,
    line-height: 40px,
    font-weight: 400
  ),
  $headline-5: (
    font-size: 24px,
    line-height: 32px,
    font-weight: 400
  ),
  $headline-6: (
    font-size: 20px,
    line-height: 32px,
    font-weight: 500
  ),
  $subtitle-1: (
    font-size: 16px,
    line-height: 24px,
    font-weight: 400
  ),
  $subtitle-2: (
    font-size: 14px,
    line-height: 24px,
    font-weight: 500
  ),
  $body-1: (
    font-size: 16px,
    line-height: 24px,
    font-weight: 400
  ),
  $body-2: (
    font-size: 14px,
    line-height: 24px,
    font-weight: 400
  ),
  $button: (
    font-size: 14px,
    line-height: 24px,
    font-weight: 500
  ),
  $caption: (
    font-size: 12px,
    line-height: 20px,
    font-weight: 400
  ),
  $overline: (
    font-size: 10px,
    line-height: 16px,
    font-weight: 400
  )
);

$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn
  ),
  typography: $my-typography,
  density: 0
));

@include mat.all-component-themes($my-theme);
@include theming.family-central-style;
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
